# Enable Phusion Passenger
PassengerEnabled on
PassengerAppRoot /Users/macbook13/Documents/joyida/backend
PassengerPython /Users/macbook13/Documents/joyida/backend/venv/bin/python
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py

# Optional: Set environment variables
# SetEnv SECRET_KEY your-super-secret-key
